<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s4kr4.twitteter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity
            android:name=".UserStreamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
		<activity
		    android:name=".TwitterOAuthActivity"
		    android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data
                    android:host="twitter"
                    android:scheme="ph" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".ImageViewerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            
        </activity>
        <activity
            android:name=".UserPageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name=".ContextMenuActivity_"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

        </activity>

        <activity
            android:name=".ReplyActivity_"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            
        </activity>
            
    </application>

</manifest>
